# Exploratory analysis of the bike sharing services in San Francisco Bay Area

There are four different types of .csv files in this data set, which are station.csv, status.csv, trip.csv, and weather.csv.

In [2]:
# load packages
import pandas as pd
import numpy as np

In [5]:
# read each file into a panda data frame and store them into a dictionary
df_station = pd.read_csv("./data/station.csv", parse_dates=["installation_date"])

In [6]:
df_station.head()

,id,name,lat,long,dock_count,city,installation_date
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,2013-08-06
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,2013-08-05
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,2013-08-06
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,2013-08-05
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,2013-08-07